{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h2>
                        Curso de Python com Geison Nervo.
                    </h2>
                    <h4 class="mt-4">Entre na fila de espera!</h4>
                    <form action="https://herokuapp.us5.list-manage.com/subscribe/post?u=124e57fd5a5bb62c08e70a542&amp;id=ee17371d2a"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="form-row align-items-center" target="_blank" novalidate>
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="mce-EMAIL">E-mail</label>
                                <input type="email" value="" name="EMAIL" class="form-control required " id="mce-EMAIL"
                                       placeholder="exemplo@email.com">
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="mce-FNAME">Nome</label>
                                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                                       placeholder="Seu nome">


                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                      name="b_124e57fd5a5bb62c08e70a542_ee17371d2a"
                                                                                                      tabindex="-1"
                                                                                                      value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                                      id="mc-embedded-subscribe" class="btn btn-primary"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        Mais detalhes sobre o instrutor
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <img class="img-thumbnail float-left mr-3" alt="Foto de Geison Nervo" style="width: 180px"
                                 src="{% static 'img/geison-nervo.jpeg' %}">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor at <a href="https://olheiro.herokuapp.com/">Olheiro.com</a>
                            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                            words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                            classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                            1.10.32
                            and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                            written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                            line in
                            section 1.10.32.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}